<h2>Se un salvavidas</h2>

<form action="/signup" method="POST" id="form-container">
<label for="username">Nombre completo</label>
<input type="text" name="username" placeholder="Chuchito Perez">
<br><br>
<label for="email">Email</label>
<input id="email" type="text" name="email" placeholder="chuchito@mail.com">
<br><br>
<label for="password">Password</label>
<input id="password" type="password" name="password" placeholder="">
<br><br>
<label>Repeat password</label>
<input type="password" name= "passwordrepeat">
<br><br>
<label for="role">Role</label>
<input type="text" name="role" value="Salvavidas">
<br>

{{#if msg}}
<div class="error-message">{{msg}}</div>
{{/if}}

<br>
<input type="submit" value="Crear cuenta">
<p class="account-message">
  ¿Ya tienes una cuenta?
  <a href="/auth/login">Inicia sesión</a>
</p>

</form>