<h1>Categorías</h1>

<h2>Limpieza</h2>
<div class="card-deck">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Limpieza doméstica</h5>
      <p class="card-text">¿No tienes tiempo para la limpieza de tu casa</p>
      <p class="card-text">¡No te precupes!</p>
      <p class="card-text">Aquí encontrás el mejor servicio con nuestros salvavidas de limpieza.</p>
      <a href="#" class="btn btn-primary">Necesito limpieza</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicio de lavandería</h5>
      <p class="card-text">Sabemos que lavar la ropa es una tarea que requiere mucho tiempo...</p>
      <p class="card-text">¡Estos salvavidas tienen la solución!</p>
      <p class="card-text">Descrube el servicio de limpieza que ofrece cada salvavidas.</p>
      <a href="#" class="btn btn-primary">Necesito lavandería</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicio de lavandería</h5>
      <p class="card-text">Sabemos que lavar la ropa es una tarea que requiere mucho tiempo...</p>
      <p class="card-text">¡Estos salvavidas tienen la solución!</p>
      <p class="card-text">Descrube el servicio de limpieza que ofrece cada salvavidas.</p>
      <a href="#" class="btn btn-primary">Necesito lavandería</a>
    </div>
  </div>
</div>

<h2>Reparación</h2>
<div class="card-deck">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Línea blanca</h5>
      <p class="card-text">¿Alguno de tus maquinas de línea blanca está fallando?</p>
      <p class="card-text">¡Salvavidas en camino!</p>
      <p class="card-text">Cantacta el mejor servicio con nuestros salvavidas de maquinaria.</p>
      <a href="#" class="btn btn-primary">Salven mi máquina</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Electrodomésticos</h5>
      <p class="card-text">¿Tus aparatos electrónicos tienen alguna falla?</p>
      <p class="card-text">¡Tu salvavidas lo reparará en un instante!</p>
      <p class="card-text">Descrube como te pueden salvar de esta situación.</p>
      <a href="#" class="btn btn-primary">Necesito reparación</a>
    </div>
  </div>
</div>

<h2>Servicios de construción</h2>
<div class="card-deck">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pintura</h5>
      <p class="card-text">¿Un nuevo color para tu casa?</p>
      <p class="card-text">¡Pintamos casas a domicilio!</p>
      <p class="card-text">Contacta a los mejores pintores.</p>
      <a href="/categories/5dddeef952c27742a55bbc85" class="btn btn-primary">Quiero pintura</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Plomería</h5>
      <p class="card-text">¿Tubería rota?</p>
      <p class="card-text">¡Evita un desastre!</p>
      <p class="card-text">Servicios de plomería de la mejor calidad.</p>
      <a href="#" class="btn btn-primary">Necesito reparación</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Electricidad</h5>
      <p class="card-text">¿Problemas eléctricos?</p>
      <p class="card-text">¡Que se haga la luz!</p>
      <p class="card-text">El salvavidas que arregla todo lo relacionado con el sistema eléctrico de tu casa</p>
      <a href="#" class="btn btn-primary">Encontrar eléctrico</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Impermeablización</h5>
      <p class="card-text">¿Lueve dentro de tu casa, o está a punto?</p>
      <p class="card-text">¡No esperes más!</p>
      <p class="card-text">Impermeabiliza tu residencia dureme tranquilo, y seco...</p>
      <a href="#" class="btn btn-primary">Necesito impermebilizar</a>
    </div>
  </div>
</div>

