<header class="masthead mb-auto">
    <div class="inner navbar nav-color">
       <a href="/"><h3 class="text-left color-text nav-h3"><img class="masthead-brand " src="https://res.cloudinary.com/carlos-hm/image/upload/v1574988046/salvavidas/salvavidas_hjfyvu.png" alt="" width="50">Tu Salvavidas</h3></a>
        <nav class="nav justify-content-end">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="/login">Iniciar sesión</a>
            </li>
          </ul>
        </nav>
    </div>
  </header>  
  <div class="bienvenidos position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-10 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Tu Salvavidas</h1>
    <p class="lead font-weight-normal">Esta app fue creada para dar un impulso a trabajadores independientes y facilitar la solución a problemas que se presentan día a día en casa. </p>
    <a href="/signup"><button  type="button" class="btn btn-primary">Registrate</button></a>
    <a href="/salvavidas/signup"><button type="button" class="btn btn-info">Quiero ser salvavidas</button></a>
  </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
  <div class="bg-info mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
  <div class="my-3 py-3">
      <h2 class="display-5">¿En qué consiste?</h2>
      <p class="lead">¿Olvidaste las llaves?,¿Hubo un corto circuito?¿No tienes tiempo de cocinar?</p>
      <p class="lead">No te preocupes ten al alcance de tus manos una solución rápida. Mediante esta app podrás encontrar a perosonas con diferentes oficios que podran ayudarte a resolver tu porblema. </p>
  </div>
</div>
<br>
<br>
<div class="container marketing">
  <div class="row">
    <div class="col-lg-6">
      <div class="text-center">
        <img src="../images/Summer_13-01.png" class="rounded-circle" alt="Cinque Terre" width="200">
      </div>
        <h2 class="text-center">Salvado</h2>
        <p class="text-center">Al registrate como salvado y podras solicitar un salvavidas de acuerdo a tu problema.</p>
    </div>
    <div class="col-lg-6">
      <div class="text-center">
        <img src="../images/Summer_13-03.png" class="rounded-circle" alt="Cinque Terre" width="200">
      </div>
        <h2 class="text-center">Salvavidas</h2>
        <p class="text-center" >Al registrate como salvavidas y podras ofrecer servicios como plomería, electricista ó de acuerdo a tus habilidades. </p>  
    </div>
  </div>
</div>
<div class="bg-info mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
  <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
  </div>
</div>


  <footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <h5>Carlos H. by María M.</h5>
      <small class="d-block mb-3 text-muted">IronHack©2019</small>
    </div>
  </div>
</footer>


