<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>

  {{#if isCliente}}
   <header class="masthead mb-auto">
    <div class="inner navbar nav-color">
      <h3 class="text-left nav-h3"><img class="masthead-brand " src="https://res.cloudinary.com/carlos-hm/image/upload/v1574988046/salvavidas/salvavidas_hjfyvu.png" alt="" width="50">Tu Salvavidas</h3>
      <nav class="nav nav-masthead justify-content-center ">
        <a class="nav-link active color-ul" href="/user/projects">Proyectos</a>
        <a class="nav-link color-ul " href="/user/messages">Mensajes</a>
        <a class="nav-link color-ul" href="/user/profile">Perfil</a>
        <a class="nav-link color-ul" href="/logout">Cerrar sesión</a>
      </nav>
    </div>
  {{else if isSalvavidas}}
  <header class="masthead mb-auto">
    <div class="inner navbar nav-salvavidas">
       <h3 class="text-left nav-h3"><img class="masthead-brand " src="https://res.cloudinary.com/carlos-hm/image/upload/v1574988046/salvavidas/salvavidas_hjfyvu.png" alt="" width="50">Tu Salvavidas</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active color-ul-salva" href="/salvavidas/projects">Proyectos</a>
        <a class="nav-link color-ul-salva" href="/salvavidas/profile">Perfil</a>
        <a class="nav-link color-ul-salva" href="/logout">Cerrar sesión</a>
      </nav>
    </div>
  </header>
  {{/if}}

  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>