<h2>Profile</h2>

<img src="{{user.photoURL}}" alt="Profile picture">
{{user.username}}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Editar perfil
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edita tu perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/salvavidas/profile" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="formGroupExampleInput">Nombre completo</label>
            <input name="username" type="text" class="form-control" id="formGroupExampleInput" value="{{user.username}}"
              required>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Foto de perfil</label>
            <div class="custom-file">
              <input name="photoURL" type="file" class="custom-file-input" id="validatedCustomFile">
              <label class="custom-file-label" for="validatedCustomFile">
                <span>Seleccionar imagen...</span>
              </label>
            </div>
            <br><br>
            <label for="formGroupExampleInput">Selecciona tus habilidades</label>
            <div class="form-check">
              <input name="Pintura" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Pintura
              </label>
            </div>
            <div class="form-check">
              <input name="Plomeria" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Plomería
              </label>
            </div>
            <div class="form-check">
              <input name="Electricista" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Electricista
              </label>
            </div>
            <div class="form-check">
              <input name="Fumigacion" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Fumigación
              </label>
            </div>
            <div class="form-check">
              <input name="Albanileria" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Albañilería
              </label>
            </div>
            <div class="form-check">
              <input name="Impermeabilizacion" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Impermeabilización
              </label>
            </div>
            <div class="form-check">
              <input name="Carpinteria" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Carpintería
              </label>
            </div>
            <div class="form-check">
              <input name="Jardineria" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Jardinería
              </label>
            </div>
            <div class="form-check">
              <input name="Herreria" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Herrería
              </label>
            </div>
            <div class="form-check">
              <input name="Limpieza" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Limpieza 
              </label>
            </div>
            <div class="form-check">
              <input name="Lavanderia" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Lavandería
              </label>
            </div>
            <div class="form-check">
              <input name="Reparacion" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Reparación de línea blanca
              </label>
            </div>
            <div class="form-check">
              <input name="Cocina" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Servicio de cocina
              </label>
            </div>
            <br>  

            {{!-- ZONAS PREFERIDAS --}}
            <label for="formGroupExampleInput">Selecciona tus zonas preferidas</label>
            <div class="form-check">
              <input name="Tlalpan" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Tlalpan
              </label>
            </div>
            <div class="form-check">
              <input name="Carranza" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Venustiano Carranza
              </label>
            </div>
            <div class="form-check">
              <input name="Azcapotzalco" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Azcapotzalco
              </label>
            </div>
            <div class="form-check">
              <input name="Iztapalapa" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Iztapalapa
              </label>
            </div>
            <div class="form-check">
              <input name="Iztacalco" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Iztacalco
              </label>
            </div>
            <div class="form-check">
              <input name="Miguel" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Miguel Hidalgo
              </label>
            </div>
            <div class="form-check">
              <input name="Magdalena" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Magdalena Contreras
              </label>
            </div>
            <div class="form-check">
              <input name="Coyoacan" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Coyoacán
              </label>
            </div>
            <div class="form-check">
              <input name="Milpa" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Milpa Alta
              </label>
            </div>
            <div class="form-check">
              <input name="Tlahuac" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Tláhuac
              </label>
            </div>
            <div class="form-check">
              <input name="Benito" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Benito Juárez
              </label>
            </div>
            <div class="form-check">
              <input name="Cuajimalpa" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Cuajimalpa
              </label>
            </div>
            <div class="form-check">
              <input name="Gustavo" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Gustavo A. Madero
              </label>
            </div>      
            <div class="form-check">
              <input name="Cuauhtemoc" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Cuauhtémoc
              </label>
            </div>
            <div class="form-check">
              <input name="Obregon" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Álvaro Obregón
              </label>
            </div>
            <div class="form-check">
              <input name="Xochimilco" class="form-check-input" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Xochimilco
              </label>
            </div>
            <br>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  document.querySelector('input[name="photoURL"]').addEventListener('change', (e) => {
    document.querySelector('label.custom-file-label span').innerText = e.target.files[0].name
  })
</script>